<p>Titulares: </p>

<!-- <select name="" (change)="onCountryChange($event)" id=""> -->
<select name="" id="" [(ngModel)]="country" (change)="setCountry()">
    <option value="">Selecciona una opción</option>
    <option value="mx">MX</option>
    <option value="us">US</option>
</select>

<div class="grid">
    <div class="sm-50 md-25" *ngFor= "let item of titulares">
        <a href="{{item.url}}">
            <img src="{{item.urlToImage}}" alt="">
            {{item.title}}
        </a>
    </div>
</div>